#header .main-header .header-border .header-right ul,
#header .main-header .header-border #nav ul.top-nav,
#header .main-header .header-border #nav ul.bottom-nav,
#header .main-header .header-border #nav .drop,
.slider .pagination ul,
#footer .footer-left .footer-nav ul,
#footer .footer-right .social-networks,
#footer .footer-right .social-networks ul,
#footer .footer-right .login ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #fff;
	background: #fff;
	font: 14px/1.25 "Montserrat", Arial, Helvetica, sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	height: 100%;
}

* {
	max-height: 1000000px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: underline;
}

input,
textarea,
select {
	font: 100% "Montserrat", Arial, Helvetica, sans-serif;
	color: #000;
	vertical-align: middle;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin: 0;
	padding: 4px 7px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid #999;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border-color: #4d4d4d;
}

textarea {
	overflow: auto;
	resize: vertical;
	vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	margin: 0 0 1.2em;
}

p {
	margin: 0 0 1.2em;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: "";
	content: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.gm-style img {
	max-width: none;
}

.holder {
	margin: 0 auto;
	max-width: 1460px;
}

#header .main-header {
	background: url(../images/header-bg.png) no-repeat;
	padding: 5px;
	background-size: cover;
	text-align: center;
}

#header .main-header .header-border {
	border: 1px solid #999;
	padding: 10px;
	overflow: hidden;
}

#header .main-header .header-border .logo {
	display: block;
	margin: 0 0 20px;
}

#header .main-header .header-border .logo img {
	vertical-align: top;
}

#header .main-header .header-border .header-right {
	display: block;
	text-transform: uppercase;
	color: #c00b12;
	font-size: 9px;
}

#header .main-header .header-border .header-right li {
	display: inline-block;
}

#header .main-header .header-border .header-right li .gmail {
	background: url(../images/sprite.png) no-repeat 0 0;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
	display: block;
}

#header .main-header .header-border .header-right li .gmail:hover {
	background: url(../images/sprite.png) no-repeat 0 -35px;
	width: 32px;
	height: 32px;
}

#header .main-header .header-border .header-right li .twitter {
	background: url(../images/sprite.png) no-repeat -42px 0;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
	display: block;
}

#header .main-header .header-border .header-right li .twitter:hover {
	background: url(../images/sprite.png) no-repeat -42px -35px;
	width: 32px;
	height: 32px;
}

#header .main-header .header-border .header-right li .facebook {
	background: url(../images/sprite.png) no-repeat -84px 0;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
	display: block;
}

#header .main-header .header-border .header-right li .facebook:hover {
	background: url(../images/sprite.png) no-repeat -84px -35px;
	width: 32px;
	height: 32px;
}

#header .main-header .header-border #nav .nav-opener {
	display: block;
	width: 31px;
	height: 31px;
	background: #000;
	background: rgba(0, 0, 0, .5);
	position: relative;
	border-radius: 3px;
	text-indent: -9999px;
	overflow: hidden;
}

#header .main-header .header-border #nav .nav-opener:before,
#header .main-header .header-border #nav .nav-opener:after,
#header .main-header .header-border #nav .nav-opener span {
	background: #fff;
	border-radius: 4px;
	position: absolute;
	top: 16px;
	left: 25%;
	right: 25%;
	height: 3px;
	margin-top: -2px; /* height/2 */
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

#header .main-header .header-border #nav .nav-opener:before,
#header .main-header .header-border #nav .nav-opener:after {
	content: "";
	top: 10px;
}

#header .main-header .header-border #nav .nav-opener:after {
	top: 22px;
}

#header .main-header .header-border #nav ul.top-nav {
	text-align: left;
	text-transform: capitalize;
}

#header .main-header .header-border #nav ul.bottom-nav {
	display: block;
	text-align: left;
}

#header .main-header .header-border #nav ul.bottom-nav a {
	color: #000;
}

#header .main-header .header-border #nav .drop {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	width: 100%;
	text-align: left;
	text-transform: capitalize;
}

#header .main-header .header-border #nav li {
	margin: 2px 0 0;
}

#header .main-header .header-border #nav li a {
	text-decoration: none;
	color: black;
}

#header .main-header .header-border #nav li a:hover {
	color: #c00b12;
}

.slider {
	position: relative;
}

.slider img {
	vertical-align: top;
	width: 100%;
	height: auto;
}

.slider .cycle-gallery.gallery-js-ready {
	width: 100%;
	overflow: hidden;
}

.slider h1 {
	color: #fff;
	font: bold 20px/15px "Montserrat", Arial, Helvetica, sans-serif;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.slider span {
	background: #000;
	padding: 5px;
}

.slider .caption {
	position: absolute;
	top: 30%;
	text-align: center;
	width: 80%;
	left: 10%;
	right: 10%;
}

.slider .pagination {
	bottom: 10px;
	left: 36.5%;
	position: absolute;
	right: 36.5%;
	text-align: center;
	width: 27%;
}

.slider .pagination li {
	background: #fff none repeat scroll 0 0;
	border: 1px double #fff;
	border-radius: 66px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	text-indent: -999999px;
	width: 16px;
}

.slider .pagination li.active {
	width: 16px;
	height: 16px;
	border-radius: 66px;
	border: 1px double #fff;
	background: rgba(0, 0, 0, .5);
}

.slider .pagination li:hover {
	width: 16px;
	height: 16px;
	border-radius: 66px;
	border: 1px double #fff;
	background: rgba(0, 0, 0, .5);
}

.section {
	overflow: hidden;
	padding: 5px;
}

.section img {
	vertical-align: top;
	width: 100%;
}

.section a {
	background: #000;
	display: block;
}

.section a:hover img {
	opacity: .7;
}

.section .caption {
	position: absolute;
	text-align: center;
	color: #fcaf17;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.section .caption h2 {
	font: bold 17px "Michroma", Arial, Helvetica, sans-serif;
	margin: 0 0 5px;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	display: table;
	vertical-align: middle;
	height: 100%;
}

.section .caption span {
	vertical-align: middle;
	display: table-cell;
}

.section .menu {
	display: block;
	margin-bottom: 5px;
	position: relative;
}

.section .location {
	display: block;
	margin-bottom: 5px;
	position: relative;
}

.section .items {
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
}

.section .items .daily {
	float: left;
	width: 49.7%;
	position: relative;
}

.section .items .beer {
	float: right;
	width: 49.7%;
	position: relative;
}

.section .btm-sec-right .menu {
	width: 100%;
	margin-bottom: 0;
}

.section .section-slider {
	display: block;
	position: relative;
	margin: 0 0 5px;
}

.section .section-slider img {
	width: 100%;
	height: auto;
}

.section .section-slider .cycle-gallery.gallery-js-ready {
	overflow: hidden;
}

.section .section-slider .btn-prev,
.section .section-slider .btn-next {
	background: #000;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	text-indent: -999999px;
}

.section .section-slider .btn-prev:hover,
.section .section-slider .btn-next:hover {
	background: #f00;
}

.section .section-slider .btn-prev {
	right: 40px;
}

/*.section .section-slider .btn-prev:before {
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	content: "";
	display: block;
	height: 20px;
	left: 14px;
	position: absolute;
	top: 10px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 20px;
}

.section .section-slider .btn-next:before {
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	content: "";
	display: block;
	height: 20px;
	left: 6px;
	position: absolute;
	top: 10px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 20px;
}*/

.section .gift {
	display: block;
	margin: 0 0 5px;
	position: relative;
}

.section .gift .caption {
	top: 30%;
}

.section .twit {
	background: #7fb7be none repeat scroll 0 0;
	color: #223133;
	font-size: 12px;
	padding: 30px 5px 5px;
	position: relative;
	text-align: center;
}

.section .twit a {
	background: none;
	text-indent: -999999px;
}

.section .twit a:before {
	background: url(../images/sprite.png) no-repeat -42px -70px;
	width: 32px;
	height: 32px;
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: 48%;
}

.section .twit p {
	margin: 0;
}

#footer {
	background: #c00b12;
	padding: 10px;
	overflow: hidden;
}

#footer .footer-left {
	display: block;
	overflow: hidden;
}

#footer .footer-left .footer-logo {
	width: 30%;
	float: left;
	margin: 0 3% 0 0;
}

#footer .footer-left .footer-nav {
	float: left;
	font-size: 10px;
	width: 65%;
}

#footer .footer-left .footer-nav h5 {
	font: bold 15px/15px "Montserrat", Arial, Helvetica, sans-serif;
	margin: 0 0 5px;
	text-transform: uppercase;
}

#footer .footer-left .footer-nav ul {
	margin: 0 0 10px;
	overflow: hidden;
}

#footer .footer-left .footer-nav li {
	font-size: 10px;
}

#footer .footer-left .footer-nav li a {
	color: #fff;
	text-decoration: underline;
}

#footer .footer-left .footer-nav li a:hover {
	text-decoration: none;
}

#footer .footer-left .footer-nav span {
	text-decoration: underline;
	cursor: pointer;
}

#footer .footer-left .footer-nav span:hover {
	text-decoration: none;
}

#footer .footer-right {
	display: block;
	text-align: center;
	overflow: hidden;
}

#footer .footer-right .social-networks {
	width: 100%;
	margin: 0 0 10px;
}

#footer .footer-right .social-networks li {
	display: inline-block;
}

#footer .footer-right .social-networks li .footer-gmail {
	background: url(../images/sprite.png) no-repeat 0 -70px;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
	display: block;
}

#footer .footer-right .social-networks li .footer-gmail:hover {
	background: url(../images/sprite.png) no-repeat 0 0;
	width: 32px;
	height: 32px;
}

#footer .footer-right .social-networks li .footer-twitter {
	background: url(../images/sprite.png) no-repeat -42px -70px;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
	display: block;
}

#footer .footer-right .social-networks li .footer-twitter:hover {
	background: url(../images/sprite.png) no-repeat -42px 0;
	width: 32px;
	height: 32px;
}

#footer .footer-right .social-networks li .footer-facebook {
	background: url(../images/sprite.png) no-repeat -84px -70px;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
	display: block;
}

#footer .footer-right .social-networks li .footer-facebook:hover {
	background: url(../images/sprite.png) no-repeat -84px 0;
	width: 32px;
	height: 32px;
}

#footer .footer-right .login {
	display: block;
}

#footer .footer-right .login li {
	margin: 0 0 9px;
}

#footer .footer-right .login input[type=text] {
	border: medium none;
	color: #8d8d8d;
	font: 12px/10px "Montserrat", Arial, Helvetica, sans-serif;
	height: 40px;
	padding: 5px;
	width: 220px;
	float: left;
}

#footer .footer-right .login input[type=text]::-webkit-input-placeholder {
	color: #8d8d8d;
}

#footer .footer-right .login input[type=text]::-moz-placeholder {
	opacity: 1;
	color: #8d8d8d;
}

#footer .footer-right .login input[type=text]:-moz-placeholder {
	color: #8d8d8d;
}

#footer .footer-right .login input[type=text]:-ms-input-placeholder {
	color: #8d8d8d;
}

#footer .footer-right .login input[type=text].placeholder {
	color: #8d8d8d;
}

#footer .footer-right .login input[type=submit] {
	background: #231f20;
	color: #fff;
	border: none;
	font: 16px "Michroma", Arial, Helvetica, sans-serif;
	padding: 8px;
	font-weight: bold;
	float: left;
	text-transform: uppercase;
	width: 26%;
}

#footer .footer-right .login input[type=submit]:hover {
	background: #f00;
}

.container {
	height: 100%;
}

.nav-active #header #nav .drop {
	max-height: 1000px !important;
	padding: 0 !important;
}

@media only screen and (min-width: 320px) {
	.slider span {
		font-size: 10px;
	}
}

@media only screen and (min-width: 460px) {
	#header .main-header .header-border #nav .nav-opener {
		display: none;
	}

	#header .main-header .header-border #nav {
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		display: block;
		font-size: 13px;
		line-height: 25px;
		padding: 0;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 10px;
	}

	#header .main-header .header-border #nav ul.top-nav {
		text-align: center;
		margin: 0 0 10px;
	}

	#header .main-header .header-border #nav ul.bottom-nav {
		text-align: center;
		margin: 0;
		border-top: 1px solid #999;
		font-size: 13px;
		padding: 5px 0 0;
		text-align: center;
	}

	#header .main-header .header-border #nav ul.bottom-nav a {
		color: #656565;
	}

	#header .main-header .header-border #nav .drop {
		max-height: 1000px;
	}

	#header .main-header .header-border #nav li {
		display: inline-block;
		margin: 0 6px 5px;
	}

	.slider span {
		font-size: 16px;
	}

	.section .twit {
		padding: 30px 5px 20px;
	}

	#footer .footer-right .login input[type=submit] {
		width: 20%;
	}
}

@media only screen and (min-width: 768px) {
	#header .main-header {
		background: transparent url("../images/header-bg.png") no-repeat scroll 0 0/cover;
		margin-right: auto;
		margin-left: auto;
		width: 768px;
		position: relative;
		z-index: 9999;
	}

	#header .main-header .header-border .logo {
		float: left;
		margin: 0;
	}

	#header .main-header .header-border .header-right {
		float: right;
	}

	#header .main-header .header-border #nav {
		float: left;
		margin: 0 0 0 10px;
	}

	.slider h1 {
		font-size: 40px;
		line-height: 50px;
		margin: 0 0 15px;
	}

	.slider .caption {
		top: 50%;
	}

	.section .image-block {
		overflow: hidden;
		display: block;
		padding: 0 5px;
	}

	.section .menu {
		overflow: hidden;
		float: left;
		width: 49.7%;
	}

	.section .location {
		overflow: hidden;
		float: right;
		width: 49.7%;
	}

	.section .items {
		float: left;
		width: 49.7%;
	}

	.section .btm-sec-right {
		float: right;
		width: 49.8%;
	}

	#footer .footer-left {
		float: left;
		width: 49.5%;
	}

	#footer .footer-left .footer-nav li {
		float: left;
		margin: 0 10px 0 0;
	}

	#footer .footer-right {
		float: left;
		width: 49.5%;
		text-align: left;
	}

	#footer .footer-right .login li {
		float: left;
	}

	#footer .footer-right .login input[type=text] {
		width: 300px;
	}

	.container {
		position: relative;
		top: -109px;
	}
}

@media only screen and (min-width: 1025px) {
	#header .main-header {
		background: transparent url("../images/header-bg.png") no-repeat scroll 0 0/cover;
		margin-right: auto;
		margin-left: auto;
		width: 1024px;
		position: relative;
		z-index: 9999;
	}

	#header .main-header .header-border {
		padding: 27px 5px;
	}

	#header .main-header .header-border .logo {
		width: 25.3%;
	}

	#header .main-header .header-border .header-right {
		padding: 5px 22px;
		font-size: 11px;
	}

	#header .main-header .header-border .header-right p {
		margin: 0 0 9px;
	}

	#header .main-header .header-border .header-right li {
		margin: 0 -2px 0 9px;
	}

	#header .main-header .header-border #nav {
		padding: 0 37px;
		text-align: left;
		font-size: 19px;
	}

	#header .main-header .header-border #nav ul.bottom-nav {
		text-align: left;
	}

	#header .main-header .header-border #nav li {
		margin: 0 6px 6px;
	}

	.slider h1 {
		font-size: 139px;
		margin: 0 0 80px;
	}

	.slider span {
		font-size: 27px;
		padding: 10px 5px;
	}

	.slider .caption {
		top: 47%;
	}

	.slider .pagination {
		bottom: 20px;
	}

	.slider .pagination li {
		margin: 0 2px;
	}

	.section {
		padding: 5px 0 5px;
	}

	.section {
		padding: 5px 0 5px;
	}

	.section .caption h2 {
		font-size: 31px;
	}

	.section .menu {
		font-size: 23px;
	}

	.section .items {
		margin-bottom: 0;
	}

	.section .twit {
		font-size: 20px;
		padding: 30px 5px 27px;
	}

	.section .twit a:before {
		top: 12px;
	}

	#footer .footer-left {
		padding: 28px 40px;
		width: 62%;
	}

	#footer .footer-left .footer-logo {
		margin: 0;
		width: 21.4%;
	}

	#footer .footer-left .footer-nav {
		padding: 10px 0;
		font-size: 13px;
		width: 75%;
	}

	#footer .footer-left .footer-nav h5 {
		font-size: 27px;
		line-height: 21px;
		margin: 0 0 14px;
	}

	#footer .footer-left .footer-nav ul {
		margin: 0 0 23px;
	}

	#footer .footer-left .footer-nav li {
		font-size: 16px;
	}

	#footer .footer-right {
		padding: 39px 40px 0 0;
		text-align: right;
		width: 38%;
	}

	#footer .footer-right .social-networks {
		margin: 0 0 22px;
	}

	#footer .footer-right .social-networks li {
		margin: 0 0 0 6px;
	}

	#footer .footer-right .social-networks li .footer-gmail {
		text-align: left;
	}

	#footer .footer-right .social-networks li .footer-twitter {
		text-align: left;
	}

	#footer .footer-right .social-networks li .footer-facebook {
		text-align: left;
	}

	#footer .footer-right .login {
		float: left;
		width: 100%;
	}

	#footer .footer-right .login li {
		margin: 0 0 0 10px;
	}

	#footer .footer-right .login input[type=text] {
		height: 70px;
		padding: 8px 18px;
		width: 78%;
		font-size: 16px;
		line-height: 32px;
		margin: 0 2% 0 0;
	}

	#footer .footer-right .login input[type=submit] {
		padding: 23px 0;
	}

	.container {
		position: relative;
		top: -145px;
	}
}

